<h1>Search Flight Tickets</h1>
<div class="message"><%= @message %></div>
<form>
    From: <input type="text" name="from" placeholder="JHB" />
    To: <input type="text" name="to" placeholder="KBR"/>
    Date: <input type="text" name="date" placeholder="12-07-2015" />
    <input type="submit" value="Search" />
</form>

<pre>
<%= @output %>
</pre>

<div class="footer">
Using <a href="https://github.com/amree">amree's</a> <a href="https://rubygems.org/gems/teecket">teecket</a> gems.
</div>
