
<form>
    From: <input type="text" name="from" placeholder="JHB" />
    To: <input type="text" name="to" placeholder="KBR"/>
    Date: <input type="text" name="date" placeholder="12-07-2015" />
    <input type="submit" value="Search" />
</form>

<pre>
<%= @output %>
</pre>

