<!doctype html>
<html>
<head>
<title>Flight Search | Teecket</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Search ticket's fare for all major airlines in Malaysia at once">
</head>
<body>
    <%= yield %>
</body>
</html>
